{% extends 'base.html' %}

{% block content %}

<div class="column">
    <div class="block mt-6">
        <h3 class="title is-4">
            {{profile.user.username}} kişisinin takipçileri
        </h3>
        <div class="content">
            <ul>
            {% for follower in profile.followed_by.all %}
                <li>
                    <a href="{% url 'dwitter:profile' follower.id %}">
                        {{ follower }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}