{% extends 'base.html' %}
{% block head %}
<style>
    html , body{

        background-color: #ffe08a;
    }
</style>
{% endblock %}

{% block content %}


<div class="column">
  <form action="{% url 'kbusosyal:aramasonucu' %}" method="get">
    <div class="field has-addons mt-6">
      <div class="control">
        <input class="form-control input" type="text" placeholder="kullanıcı ara" name="user">
      </div>
      <div class="control">
        <button class="button button-outline-success is-link" type="submit">
          ara bakalım
        </a>
      </div>
    </div>
  </form>


{% for profile in profiles %}

    <div class="block mt-5">
      <div class="card">
        <a href="{% url 'kbusosyal:profile' profile.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
              </div>
              <div class="media-content">
                <p class="title is-5">
                  {{ profile.user.username }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}