{% extends 'base.html' %}

{% block head %}
<style>
    html , body{

        background-color: #ffe08a;
    }
</style>
{% endblock %}
{% block content %}


<div class="column">
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark has-text-centered">
                <strong>site hakkında çok söylenecek söz yok keza daha ilk sürümlerindeyiz</strong>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark has-text-centered">
                <strong>duyurular burdan yayınlanacak oluşan ilk yenilikleri sizler tadabileceksiniz</strong>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark has-text-centered">
                <strong>kbu sosyal denemeleriyle daha iyi olacak diye umuyorum</strong>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark has-text-centered">
                <strong>atacağınız mesaj sınırı 150 haber vereyim dedim</strong>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark has-text-centered">
                <strong>lütfen demo sürümünü bol bol kullanın sonra da hataları lütfen bana bildirin</strong>
            </div>




</div>

{% endblock %}
