{% extends 'base.html' %}

{% block head %}
<style>
    html , body{

        background-color: #ffe08a;
    }
</style>
{% endblock %}
{% block content %}


<div class="column">
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark has-text-centered">
                <strong>Devlet Yurtları</strong>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Bahattin Gazi</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Katip Çelebi</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Asiye Hatun</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">İsmail Necati Efendi</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Hubbi Hatun</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Aişe Ana</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Eskipazar</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Karabük Taşkent</a>
            </div>
            <div class="box bg-box bs-box mt-5">
                <p class="has-text-dark">
                <a href="">Karabük Kız Öğrenci Yurdu</a>
            </div>
</div>
<div class="column">
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark has-text-centered">
        <strong>Özel Yurtlar</strong>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Bahtiyar Kökemli</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Altın Kalem Kız</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Altın Kalem Erkek</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Ebik</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Kayabaşı</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Şahinler</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Aslantepe</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Öztekinler</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Ayvazlar</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Beyaz İnci</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Odabaş Akademi</a>
    </div>
    <div class="box bg-box bs-box mt-5">
        <p class="has-text-dark">
        <a href="">Özkaynak</a>
    </div>
    
</div>








{% endblock content %}